h1{
  font-size: 3rem;
  color: black;
  border-bottom: 3px solid gray;
  text-align: center;
  margin: 0;
}
body{
  background-color: LightGray;
  font-size: 2rem;
  font-family: 'Nanum Pen Script', cursive;
  font-weight: bold;
  color: black;
}
ul{
  border-right: 3px solid gray;
  width: 100px;
  margin: 0;
}
p{
  text-align: center;
  margin: 0;
}
ul,p{
  color: black;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#picture{
  text-align: center;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #picture{
    text-align: center;
  }
  h1{
    border-bottom: none;
  }
  ul{
    border-right: none;
    text-decoration: none;
  }
}
a:link{
  color:black;
}
a:visited{
  color:black;
}
